:root{
    --shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

* {
    font-family: 'Samanata', sans-serif;
}

body {
    background-image: url("pexels-photo-2512280.jpeg");
    background-size: cover;
    background-position: right top 20%;
    display: flex;
    box-sizing: border-box;
}

.note {
    border: none;
    width: 15em;
    height: 5em;
    padding-top: 1em;
}

textarea {
    border: 1em;
    outline: 0;
    font-size: 1em;
    padding: 1em 1em 1em 1em;
    background-color: Transparent;
    background-repeat:no-repeat;
    resize: both;
}

input[type=textarea], ::placeholder {
    color: #1f1519
}

.title {
    font-weight: bold;
}

.newNote {
    padding: 2em;
    border-color: rgba(46,41,49,0.5);
    border-width: medium;
    border-style: solid;
    position: relative;
    background-color: rgba(233,228,236,0.5);
    box-shadow: var(--shadow);
    margin-top: 1em;
}

.removeButton {
    width: 2em;
    height: 2em;
    right: 85%;
    top: 80%;
    position: absolute;
    text-align: center;
    padding: 0.1em;
    border: none;
    outline:none;
    background-color: Transparent;
    font-weight: bolder;
}

#addButton, #save-button, #load-button {
    width: 6em;
    height: 6em;
    position: relative;
    border: none;
    font-weight: bolder;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    background-color: Transparent;
    background-repeat:no-repeat;
}

.removeButton:hover, #addButton:hover, #save-button:hover, #load-button:hover {
    box-shadow: var(--shadow);
}

#noteCell {
    width: 20em;
}